# Supabase Configuration
# Reemplace con sus credenciales del proyecto de Supabase si desea usar persistencia remota
NEXT_PUBLIC_SUPABASE_URL=https://gbyerjylnkfjxnqwzcjc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_vcqI-zgmvXhzqQ3yPnoJxg_6cQOsy67
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_vcqI-zgmvXhzqQ3yPnoJxg_6cQOsy67

# Optional Integrations
# RESEND_API_KEY=re_123456789...
# MERCADOPAGO_ACCESS_TOKEN=APP_USR-123456...
